<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3">
        <item label="UR_xvt" icon="/usr/local/share/icons/hicolor/16x16/apps/xterm-mini.png">
            <action name="Execute">
                <execute>urxvt -geometry 135x45</execute>
            </action>
        </item>
        <item label="_IntelliJ Idea">
            <action name="Execute">
                <execute>run-intellij.sh</execute>
            </action>
        </item>
        <item label="_Robo 3T">
            <action name="Execute">
                <execute>robo3t</execute>
            </action>
        </item>
        <item label="_Postman">
            <action name="Execute">
                <execute>postman</execute>
            </action>
        </item>
        <item label="_Slack" icon=".local/share/icons/hicolor/64x64/apps/slack.png">
            <action name="Execute">
                <execute>slack-dev.sh</execute>
            </action>
        </item>
        <item label="_Thunar">
            <action name="Execute"><execute>thunar</execute></action>
        </item>

        <separator />

        <item label="_Chromium" icon="/usr/local/share/icons/hicolor/16x16/apps/chromium.png">
            <action name="Execute"><execute>chromium</execute></action>
        </item>
        <item label="_Firefox" icon="/usr/share/icons/hicolor/16x16/apps/firefox.png">
            <action name="Execute"><execute>firefox</execute></action>
        </item>

        <separator />

        <item label="_Qalculate">
            <action name="Execute"><execute>qalculate</execute></action>
        </item>
        <item label="Libre_Office" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-base.png">
            <action name="Execute"><execute>libreoffice</execute></action>
        </item>
        <item label="File_zilla">
            <action name="Execute"><execute>filezilla</execute></action>
        </item>

        <separator />

        <item label="Spotif_y">
            <action name="Execute"><execute>spotify</execute></action>
        </item>
        <item label="_VLC">
            <action name="Execute"><execute>vlc</execute></action>
        </item>
        <item label="_Keybase">
            <action name="Execute"><execute>run_keybase</execute></action>
        </item>
        <item label="Si_gnal">
            <action name="Execute"><execute>signal-desktop</execute></action>
        </item>

        <separator />

        <item label="ObConf">
            <action name="Execute"><execute>obconf</execute></action>
        </item>
        <item label="Reconfigure">
            <action name="Reconfigure" />
        </item>
        <item label="Restart">
            <action name="Restart" />
        </item>

        <separator />

        <item label="Exit">
            <action name="Exit" />
        </item>
    </menu>
</openbox_menu>
